body {
	text-align: center;
	color: white;
	transition: background-color 2s;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 900px;

}

button {
	background-color: rgba(255, 255, 255, 0);
	color: white;
	border: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7;
	transition: opacity 0.2s;
}

button:hover {
	opacity: 1;
}

audio {
	display: block;
	margin: 6px auto;
}

a {
	color: white;
}

.recording {
	margin-top: 20vh;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	height: 10vh;
	;
}

.player {
	margin: 10vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

i.fa-play-circle,
i.fa-pause-circle {
	cursor: pointer;
}