body {
	text-align: center;
	color: white;
	transition: background-color 2s;
}

button {
	background-color: rgba(255, 255, 255, 0);
	color: white;
	border: none;
	text-align: center;
	text-decoration: none;
	margin: 10px;

	cursor: pointer;
	opacity: 0.7;
	transition: opacity 0.2s;
}

button:hover{
	opacity: 1;
}

audio {
	display: block;
	margin: 6px auto;
}

a {
	color: white;
}

.recording {
	margin: 20vh auto;
	width: fit-content;
}

.player {
	margin: 20vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

/* Change the mouse cursor to a pointer
	 when hovered over */
i.fa-play-circle,
i.fa-pause-circle {
	cursor: pointer;
}