body {
	text-align: center;
	color: white;
	transition: background-color 2s;

}
.img{
	block-size: 800px;
	box-align: center;
}

button {
	background-color: rgba(255, 255, 255, 0);
	color: white;
	border: none;
	text-align: center;
	text-decoration: none;
	margin: 10px;
	cursor: pointer;
	opacity: 0.7;
	transition: opacity 0.2s;
}

button:hover{
	opacity: 1;
}

audio {
	display: block;
	margin: 6px auto;
}

a {
	color: white;
}

.recording {
	position: relative; inset-block-end: 685px; 
	margin-inline-start: 0px;
	z-index: 20;
}

.player {
	margin: 0vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: relative; inset-block-end: 400px;
	margin-inline-start: 1px;
	z-index: 20;
}

/* Change the mouse cursor to a pointer
	 when hovered over */
i.fa-play-circle,
i.fa-pause-circle {
	cursor: pointer;
}
